
<%- include("partials/header"); -%>
    <h1>Input</h1>
    <form class="" action="/input" method="post">
      <div class="form-group">
        <label>Location</label>
        <input class="form-control" type="text" name="location">
      </div>
      <button class="btn btn-primary" type="submit" name="button">Submit</button>
    </form>
    <a href="/">
        <button type="button" class="btn btn-primary" name="button">
         Home
        </button>
    </a>
    <a href="/output">
        <button type="button" class="btn btn-primary" name="button">
         Output
        </button>
    </a>