<%- include("partials/header"); -%>

<%  store.forEach(function(obj){ %>
    <h1><%=obj.loc%></h1>
    <h2><%=obj.poly%></h2>
   
    <%  })%>
    <a href="/">
        <button type="button" class="btn btn-primary" name="button">
         Home
        </button>
    </a>
    <a href="/input">
        <button type="button" class="btn btn-primary" name="button">
         Input
        </button>
    </a>
